.btnIndex{
    size: 30px;
    background-color: green;
    margin-left: 30px;
    margin-right: 30px;
}
body h6{
    font-size: 20px;
}

body h1{
    font: bold;
}

.card{
    width: 45%;
    height: 300px;
    float: left;
    margin-left: 10px;
}

.card .card-body h5{
    font-size: 35px;
}

.card .card-body p{
    font-size: 20px;
}

.card .card-body a{
    justify-content: space-between;
}

.container .btn{
    font-size: 25px;
}