<html>

<head>
    <title>Portifólio Acessibilidade</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">


    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script> -->
</head>


<body class="text-center">
    <h1>Quais curiosidades apareceram durante seu percurso? Quais suas descobertas?</h1>

    <div class="curiosidades text-center">
        <h2>Curiosidades</h2>
        <ul class="list-group grupoCuriosidades">
            <li class="list-group-item">Como é a forma correta de falar ao referir-se a uma pessoa portadora de qualquer
                tipo de dificência!</li>
            <li class="list-group-item">Quais são os direitos de pessoas portadoras de deficiências no geral!</li>

        </ul>
    </div> 

    <div class="descobertas text-center">
        <h2>Descobertas</h2>
        <ul class="list-group grupoCuriosidades">
            <li class="list-group-item">Que existem diversas ferramentas que auxiliam o desenvolvimento de sistemas Web,
                como ferramentas para contraste de cores. Assim, facilitando ao usuário uma melhor visualização dos
                elementos nas páginas.</li>
            <li class="list-group-item">Sabia que existia regras e parâmetros para o desenvolvimento de sistemas, porém
                com o andamento da disciplina foi descoberto que existem orgãos definem métricas para o desenvolvimento
                de sistemas. eMAG, Modelo de acessibilidade em Governo Eletrônico. Onde este orgão sugere recomendações
                de pradronização de sistemas para que a navegação seja acessiveis a todos usuário, independente da sua
                necessidade de navegação. Atualmente possuem um total de 45 recomendações em diversos aspectos</li>

            <li class="list-group-item">Existência de aplicativos que auxiliam ao usuário a traduzir texto comun (Português) ou Áudio na lingua
                de Libras.
            </li>

        </ul>
    </div>

    <a href="../index.html" class="btn btn-primary btn-lg btn-block">Voltar</a>


</body>

</html>